<!DOCTYPE html>
<html data-theme="<%- app.theme %>" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <script src="/populate.js"></script>
  <link rel="stylesheet" href="/style/style.css"> 
</head>

<body>
  <main>
    <h1><%= title %></h1>

    <a href="/about" class="top-link">About us</a>

    <ul id="people">
      <% people.forEach(function(person){ %>
        <li>
          <span><%= person.id %></span>
          <span><%= person.fname %></span>
          <span><%= person.lname %></span>
        </li>
      <% }) %>
    </ul>

    <div class="actions">
      <a href="/edit" class="btn secondary">Edit</a>
      <a href="/form" class="btn">Sign in NOW</a>
      <a href="/user_signup" class="btn">Zarejestruj się!</a>
      <a href="/settings/toggle-theme?next=<%- encodeURIComponent(page) %>">
        <% if (app.theme === "dark") { %>
        <strong>Ciemny</strong> | Jasny
        <% } else { %>
        Ciemny | <strong>Jasny</strong>
        <% } %>
      </a>
    </div>
    
  </main>
</body>
</html>