
<%- include('./partial/head.ejs') %>

<body>
  <main>
    <h1><%= title %></h1>
    <hr>
    <%_ if (user){ _%>
      <p>Hi <%= user %>!</p>
    <%_ } _%>
    <a href="/about" class="top-link">About us</a>

    <ul id="people">
      <% people.forEach(function(person){ %>
        <li>
          <span class="name">
            <span><%= person.fname %></span>
            <span><%= person.lname %></span>
          </span>
          <span class="author"><%= person.author %></span>
        </li>
      <% }) %>
    </ul>

    <!-- <div class="actions">
      <%_ if(user){ _%>
        <a href="/form" class="btn">Add a person to the hall of fame!</a>
        <a href="/edit" class="btn">Edit the hall of fame!</a>
      <%_ }else{ _%>
        <a href="/user_signup" class="btn">Sign in!</a>
        <p>or</p>
        <a href="/user_login" class="btn">Log in!</a>
      <%_ } _%>
      <a href="/settings/toggle-theme?next=<%- encodeURIComponent(page) %>">
        <%_ if (app.theme === "dark") { _%>
          <strong>Ciemny</strong> | Jasny
        <%_ } else { _%>
          Ciemny | <strong>Jasny</strong>
        <%_ } _%>
      </a>
      <%_ if(user){ _%>
        <a href="/user_logout" class="btn">Log out</a>
      <%_ } _%>
    </div> -->
    <div class="actions">
      <%_ if(user){ _%>
        <a href="/form" class="btn">Add a person!</a>
        <a href="/edit" class="btn secondary">Edit hall of fame!</a>
      <%_ }else{ _%>
        <div class="auth-group">
          <a href="/user_signup" class="btn">Sign in!</a>
          <br>
          <a href="/user_login" class="btn">Log in!</a>
        </div>
      <%_ } _%>
      <a href="/settings/toggle-theme?next=<%- encodeURIComponent(page) %>">
        <%_ if (app.theme === "dark") { _%>
          <strong>Ciemny</strong> | Jasny
        <%_ } else { _%>
          Ciemny | <strong>Jasny</strong>
        <%_ } _%>
      </a>

      <%_ if(user){ _%>
        <a href="/user_logout" class="btn danger" style="background: var(--btn-danger)">Log out</a>
      <%_ } _%>
    </div>
    
  </main>
</body>
</html>